<header>
  <div class="container">
    <div class="row">
      <div class="header-name col-md-12">
        <nav class="navbar navbar-light">
          <h1><a href="index.html">Flexor</a></h1>
          <form class="form-inline">
            <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">
              <a href="index.html"><i class="fa-solid fa-magnifying-glass"></i></a></button>
          </form>
        </nav>
      </div>
      <div class="col-md-12">
        <img src="../assets/imgs/flexor-header.png" alt="">
      </div>
      <div class="header-caption col-md-3">
        <h1>Wenim quis estlr <br> voluptat aliquid <br> fugiat.</h1>
        <p> consectetur adipisicing elit. laborum neque molestias facere natus autem nemo
          voluptate corrupti..!
        </p>
        <div class="started">
          <button type="button" class="btn btn-success btn-sm" href="index.html">GET STARTED</button>
          <p>& see how it works <i class="fa-regular fa-circle-play"></i></p>
        </div>
      </div>
    </div>
  </div>


</header>
