<div class="container">
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">OVERVIEW</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">NEWSROOM</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">OUR FAMILY</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">CAREERS</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">FAQ'S</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">FSCS PROTECTION</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">GET IN TOUCH</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">THE LEGAL PITS</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">COOKY POLICY</a>
    </li>
  </ul>
</div>