

a {
  text-decoration: none;
  color: black;
  margin: 15px 5px;
  padding-bottom: 13px;
  font-size: 10PX;
  font-family: 'Oranienbaum', serif;
  opacity: 0.8;
}

a:hover {
    text-decoration: dashed;
    color: rgb(119, 196, 119);
    border-bottom: 2px solid rgb(119, 196, 119);
  
  }
  @media (max-width: 600px){
    .nav{
      justify-content: center;
      margin-left: 5on0px;
    }
  }
