<div class="container col-md 12">
  <div class="header-caption">
    <img src="assets/imgs/section1-homapage.jpg" alt="">
    <div class="row col-md-12 justify-content-center">
      <div class="header col-md-4 text-center ml-5">
        <h1> Explore every idea with "Flexor" </h1>
        <p class="col-md-12 text-center">Lorem ipsum dolor sit amet consectetur elit. Porro molestiae
          pariatur, tempora Atque praesentium assumenda?</p>
      </div>
    </div>
  </div>


  <div class="cotainer header-card col-md-12">
    <div class="row ml-2 mt-5">
      <div class="col-md-4 mt-2">
        <div class="card border-success">
          <div class="card-body text-success">
            <h5 class="card-title" style="font-size: 50px; margin-bottom: 20px; opacity: 0.7;"><i
                class="fa-solid fa-hand-holding-dollar "></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">OVERDRAFTS</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <hr style="margin: 0px 90px;">
            <a href="#" class="card-link" style="text-decoration: none; color: brown;">Loans</a>
            <a href="#" class="card-link" style="text-decoration: none; color: brown;">Trade Finance</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="card border-success">
          <div class="card-body text-success">
            <h5 class="card-title" style="font-size: 50px; margin-bottom: 20px; opacity: 0.7;"><i
                class="fa-solid fa-coins"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">BORROW</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <hr style="margin: 0px 90px;">
            <a href="#" class="card-link" style="text-decoration: none; color: brown;">Personal Loans</a>
            <a href="#" class="card-link" style="text-decoration: none; color: brown;">Credit Cards</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="card border-success">
          <div class="card-body text-success">
            <h5 class="card-title" style="font-size: 50px; margin-bottom: 20px; opacity: 0.7;"><i
                class="fa-solid fa-hotel"></i></h5>
            <h6 class="card-subtitle mb-2 text-muted">INVESMENTS</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <hr style="margin: 0px 90px;">
            <a href="#" class="card-link" style="text-decoration: none; color: brown;">Carporate Info</a>
            <a href="#" class="card-link" style="text-decoration: none; color: brown;">Carporate Governance</a>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="col-md-6 text-center mx-auto">
        <div class="crerdit-card cc-header">

          <h1> Meet "Flexor" Card </h1>
          <p class="col-md-6 mx-auto"> Flexor Card is the whole idea of bankig re-made with beautiful design.built-in
            tools for budgeting and
            saving. and genuine human goodness. </p>
          <button type="button" class="btn btn-success">Apply now</button>

        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="cc-body col-md-4 mt-3">
          <i class="fa-regular fa-credit-card"></i>
          <h5>BRING YOUR DEBIT CARD TO LIFE</h5>
          <P>get control of your current account with a "FLEXOR" debit card. Personalising your card lets you add one of
            your favourite images to your "FLEXOR" debit card. It's completely free and you can do it in a few simple
            steps. </P>
          <p><a href="#" style="text-decoration: none;"> view our personalised card page </a> for more details.</p>
        </div>
        <div class="cc-body col-md-4 ">
          <img src="/assets/imgs/bank-card.png" alt="">
        </div>


      </div>
    </div>
  </div>




</div>
